h1 {
  text-align: center;
  color: green
}
#buttons{
  display: flex;
  justify-content: space-evenly;
}
.mowerpic {
  display: flex;
  justify-content: center;
}
/* .interface {
  border-radius: 50px;
} */